@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.black-box {
  width: 450px;
  height: 799px;
  background-color: #151515;
  display: none;
}

.img-wrapper {
  width: 375px;
  height: 240px;
  background-image: url(./assets/mobile/image-hero.jpg);
  background-repeat: no-repeat;
}

.header-content-wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

h1 {
  width: 315px;
  height: 110px;
  margin-top: 32px;
  font-family: Big Shoulders Display;
  font-weight: 900;
  font-size: 60px;
  line-height: 55px;
  color: #151515;
}

.header-p {
  font-family: Outfit;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #444444;

}

.buttons-wrapper {
  margin-top: 32px;
  display: flex;
}

.button {
  width: 56px;
  height: 72px;
  background-color: #D5966C;
  color: #FFFFFF;
}

.button img {
  align-items: center;
  width: 8px;
}

.black-button {
  width: 204px;
  height: 72px;
  display: flex;
  flex-direction: row;
  background-color: #151515;
  color: white;
  font-family: Big Shoulders Display;
  font-weight: 800;
  font-size: 20px;
  line-height: 23.94px;
  letter-spacing: 3.64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* //middle part */
.middle {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 120px;
}

.first-img-tablet,
.second-img-tablet,
.third-img-tablet {
  display: none;
}

.first-img-desktop,
.second-img-desktop,
.third-img-desktop {
  display: none;
}

.middle-first {
  display: flex;
  flex-direction: column;
}

.your_day {
  margin-top: 25px;
}

.your_day h3 {
  font-family: Big Shoulders Display;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  color: #151515;
  padding-bottom: 32px;
}

.middle-p {
  font-family: Outfit;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  color: #444444;
  margin-bottom: 32px;
}

.middle-second {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}

.middle-second-left {
  display: flex;
  flex-direction: column;
  width: 343px;
  height: 293px;
  background-color: #151515;
  padding-top: 48px;
  padding-left: 24px;
  margin-top: 16px;

}

.middle-black {
  display: flex;
  flex-direction: column;
  width: 445px;
}

.third-img {
  width: 343px;
  height: 200px;
  margin-top: 16px;
}


.black-h3 {
  font-family: Big Shoulders Display;
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  color: #FFFFFF;
}

.black-p {
  font-family: Outfit;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #FFFFFF;
  padding-top: 24px;
}

/* footer part  */

footer {
  width: 100%;
  height: 336px;
  background: black;
  padding-left: 32px;
  padding-top: 48px;
  margin-top: 120px;
}

.footer-logo {
  width: 110.05px;
  height: 40px;
}

footer p {
  width: 311px;
  height: 104px;
  font-weight: 300;
  font-size: 16px;
  font-family: Outfit;
  line-height: 26px;
  color: white;
  margin-top: 38px;
}

.icons {
  width: 120px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
}



@media only screen and (min-width: 768px) {
  .img-wrapper {
    position: relative;
    width: 437px;
    height: 700px;
    background-image: url(./assets/tablet/image-hero.jpg);
  }

  header {
    display: flex;
  }

  .header-content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  h1 {
    width: 339px;
    height: 130px;
    margin: 145px 40px 48px 389px;
    font-family: Big Shoulders Display;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    color: #151515;
  }

  .header-p {
    width: 339px;
    height: 112px;
    margin-left: 389px;
    padding-left: 0;
  }

  .buttons-wrapper {
    margin-left: 389px;
    padding-left: 0;
  }

  .black-button {
    margin-left: 0;
  }

  /* middle part */
  .middle {
    margin-left: 39px;
    margin-right: 39px;
    margin-top: 120px;
  }

  .middle-first {
    flex-direction: row;
  }

  .your_day {
    margin-top: 36px;
  }

  .your_day h3 {
    font-size: 50px;
    line-height: 45px;
    padding-bottom: 24px;
  }

  .middle-p {
    width: 223px;
    height: 140px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
  }

  .first-img,
  .second-img,
  .third-img {
    display: none;
  }

  .first-img-tablet,
  .second-img-tablet,
  .third-img-tablet {
    display: block;
  }

  .middle-second {
    width: 689px;
    margin-top: 11px;
    flex-direction: row;
  }

  .middle-second-left {
    width: 280px;
    height: 396px;
    padding-top: 85px;
    padding-left: 29px;
    margin-top: 11px;

  }

  footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 216px;
    padding: 56px 40px;
  }

  footer p {
    margin-top: 0;
    width: 281px;
  }

  .icons {
    margin-top: 0;
  }

}

@media only screen and (min-width: 1440px) {
  header {
    width: 100%;
  }

  .black-box {
    display: block;
  }

  .img-wrapper {
    width: 540px;
    height: 800px;
    background-image: url(./assets/desktop/image-hero.jpg);
  }

  h1 {
    width: 454px;
    height: 176px;
    margin: 189px 311px 434px 165px;
    font-size: 96px;
    line-height: 88px;
    color: white;
    mix-blend-mode: difference;
  }

  .header-p {
    width: 350px;
    height: 160px;
    margin-left: 935px;
    margin-top: -615px;
  }

  .buttons-wrapper {
    margin-left: 930px;
  }

  .first-img-desktop,
  .second-img-desktop,
  .third-img-desktop {
    display: block;
  }

  .first-img-tablet,
  .second-img-tablet,
  .third-img-tablet {
    display: none;
  }

  .middle {
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 180px;
  }

  .middle-first {
    flex-direction: row;
    justify-content: space-between;
  }

  .your_day {
    margin-top: 60px;
  }

  .your_day h3 {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 32px;
  }

  .middle-p {
    width: 350px;
    height: 128px;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
  }

  .middle-second {
    margin-top: 30px;
  }

  .middle-second-left {
    width: 445px;
    height: 377px;
    padding-top: 65px;
    padding-left: 48px;
    padding-right: 47px;
    margin-top: 30px;
  }

  .middle-black {
    margin-left: 30px;
  }

  footer {
    height: 244px;
    padding: 80px 165px;
  }

  footer p {
    margin-top: 0;
    width: 430px;
  }

  .icons {
    margin-top: 0;
  }

  .fb-icon:hover path,
  .inst-icon:hover path,
  .tvt-icon:hover path {
    fill: #D5966C;
    cursor: pointer;
  }

  .buttons-wrapper:hover .black-button {
    background-color: #D5966C;
  }

  .buttons-wrapper:hover .button {
    background-color: #151515;
    color: white;
  }

}